AUTH_COOKIE_NAME=localtoken

# Backend API URL for server-side requests
BACKEND_URL=http://localhost:4000

# Public URLs

# Visualizer URL (Used for iframe embedding)
VITE_VISUALIZER_URL="https://dev.visualizer.coregame.sh"
VITE_S3_REPLAYS_BUCKET_URL="https://core-replays.object.storage.eu01.onstackit.cloud"

# Public Backend URL (Used for browser-to-backend requests)
VITE_BACKEND_PUBLIC_URL="http://localhost:4000"

# Build envs

# Is used by the clone wiki script to also additionally clone the wiki contents of the dev branch when this env is set to dev
CURRENT_BRANCH=dev


# Analytics