RABBITMQ_URL=amqp://guest:guest@localhost:5672 # rabbitmq connectin details
API_SECRET_ENCRYPTION_KEY=secret-encryption-key # Same key as the api uses to encrypt/decrypt the github api keys with
OTEL_METRICS_HOST=0.0.0.0
OTEL_METRICS_PORT=9464
OTEL_METRICS_ENDPOINT=/metrics
OTEL_TRACES_ENABLED=true
OTEL_TRACES_ENDPOINT=http://localhost:4318/v1/traces
