<p-card>
	<div class="grid formgrid p-fluid">
		<div class="field mb-4 col-12">
			<label for="teamname" class="font-medium">Teamname</label>
			<input id="teamname" type="text" pInputText>
		</div>
		<div class="col-12">
			<p-divider></p-divider>
		</div>
		<div class="field mb-4 col-12">
			<div class="field mb-4 col-12">
				<label for="repo" class="font-medium">Gitub repo</label>
				<input id="repo" type="text" pInputText>
			</div>
		</div>
		<div class="col-12">
			<p-divider></p-divider>
		</div>
		<div class="field mb-4 col-12">
			<label for="privacy" class="font-medium">Privacy</label>
			<div class="flex align-items-center">
				<p-inputSwitch inputId="privacy"></p-inputSwitch>
				<span class="ml-2">Share my data with contacts</span>
			</div>
		</div>
		<div class="col-12">
			<p-divider></p-divider>
		</div>
		<div class="col-12">
			<button pButton pRipple label="Save Changes"></button>
		</div>
	</div>
</p-card>